<h1>Display your Pirate here</h1>
<p><%=@pirate.name%>
    Occupation: Pirate
    Height: <%=@pirate.height%>
    Weight: <%=@pirate.weight%> </p>

<h2><%=@ship1.name%></h2>
<p> This is a sturdy <%=@ship1.type%>
     It's carrying <%=@ship1.booty%> in its cargo hold </p>

<h2><%=@ship2.name%></h2>
<p> This is a modern <%=@ship2.type%>
     It's carrying <%=@ship2.booty%> in its cargo hold </p>
